# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/jonboydell/logzio_client
    steps:
      - checkout
      - run: GO111MODULE=on go get -v -t ./...
      - run: GO111MODULE=on go build
workflows:
  version: 2
  build:
    jobs:
      - build